@media screen and (max-width: 900px) {

    .home {
        display: flex;
        flex-direction: column-reverse;

    }

    .pic img {
        width: 80%;
        margin-right: 0;
        margin-top: 10%;
    }

    .home .container {
        width: 100vw;
    }

    .hero-description {
        padding-left: 20px;
        padding-right: 20px;
    }

    .hero-heading {
        padding-left: 20px;
    }
    /* ------------------home------------ */
    .home {
        height: max-content;
    }
    .fa-solid {
        margin-left: 0px;
    }
}
@media screen and (max-width:700px) {
    .brand{
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .about {
        display: flex;
        flex-direction: column-reverse;
        height: auto;
    }

    .content {
        height: max-content;
    }

    .about-description {
        width: 100%;
    }

    .heading h2 {
        margin-right: 15px;

    }


   
}

@media screen and (max-width: 350px) {

    /* ------------from home------- */
    .wave {
        line-height: 23px;
        font-size: 15px;
    }

    .hero-description {
        padding-left: 0px;
        padding-right: 0px;
        word-break: break-all;
        line-height: 30px;
    }

    .btn {
        text-align: center;
    }

    .btn button {
        margin-top: 10px;

    }

    .pic {
        text-align: center;
    }

    /* -----------from about class---------- */
    .about-description {
        word-wrap: break-word;
        line-height: normal;
    }

}