* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: flex;
}
nav {
  width: 100vw;
  background: gray;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  z-index: 1;
  position: fixed;
}

nav a:hover {
  border-bottom: 3px solid red;
  color: red;

}
.brand {
  position: absolute;
  left: 8px;
  color: rgb(255, 255, 255);
  border: 2px solid;
  border-radius: 8px;
  padding: 5px;
  transition: background 0.2s ease-in-out 0.2s;
}

.brand:hover{
  background: #27484b;
  
}


nav a {
  text-decoration: none;
  color: white;
}
/* creating line bellow the text */


.fa-bars {
  float: left;
  padding: 2px;
  border: 2px solid;
  margin-left: 20px;
}

.fa-bars:hover {
  background-color: rgb(136, 135, 133);
}

/*        Global Classes*/

.headings {
  margin: auto;

  padding: 10px;
  text-align: center;
  text-decoration: underline;
  text-shadow: 2px 0px 1px brown;
}

/* ------------------------HOME------------------ */

.home {
  display: flex;
  gap: 20%;
  align-items: center;
  padding: 20px;
  margin-top: 100px;
  height: 100vh;
}

.home .container {
  padding: 20px;
  width: 50vw;
}

.hero-description {
  line-height: 40px;
  font-size: 20px;
  font-weight: 100;
}

.hero-heading {
  font-size: 25px;
  font-weight: bold;
  line-height: 40px;
}
.btn {
  margin-top: 25px;
}
.btn a {
  margin-right: 20px;
  margin-left: 10px;
  margin-top: 35px;
  border-radius: 0.3rem;
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  background-color: rgb(71, 69, 69);
  color: rgb(0, 0, 0);
  display: flex;
  width: 195px;
}

.btn a:hover {
  background-color: rgb(189, 188, 187);
  cursor: pointer;
}

.pic img {
  border: 4px solid rgb(54, 13, 13);
  border-radius: 36px;
  margin-right: 40px;
  width: 20vw;
}

/* ------------------------About---------------- */
.about {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  column-gap: 100px;
  padding: 20px;
}

.content {
  width: 85vw;
}

.about-heading {
  line-height: 30px;
  margin-bottom: 20px;
  position: relative;
}

.about-description {
  line-height: 25px;
  color: rgb(83, 82, 82);
  font-size: large;
}
.resume {
  padding: 5px;
  margin: 20px;
  background-color: #928f8f;
  width: max-content;
  border: 2px solid;
  border-radius: 8px;
  color: white;
}
.resume:hover {
  background-color: #d8d2d2;
}
.resume a {
  text-decoration: none;
}

/* -----------------Skills---------------- */




.skills-heading img {
  width: 30px;
}

.skills-heading span {
  font-size: 25px;
}

.skills-ico {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 20px;
}

.java,
.javaScript,
.html,
.css,
.nodejs,
.c,
.python,
.excil {
  box-shadow: 0px 0px 3px 3px #928f8f;
  width: 200px;
  height: 150px;
  text-align: center;
  position: relative;
  /* transition: transform 0.5s; */
}

.detail-layer {
  height: 0;
  text-align: center;
  background-color: rgba(226, 71, 71, 0.911);
  position: absolute;
  width: 100%;
  bottom: 0px;
  transition: height 0.5s;
  overflow: hidden;
  color: white;
  padding: 12px;
}

.detail-layer,
h4 {
  margin-top: 10px;
}

.detail-layer,
h4,
p {
  font-size: 20px;
  font-weight: 100;
}

.java:hover .detail-layer,
.html:hover .detail-layer,
.css:hover .detail-layer,
.nodejs:hover .detail-layer,
.c:hover .detail-layer,
.python:hover .detail-layer,
.excil:hover .detail-layer,
.javaScript:hover .detail-layer {
  transform: scale(1.1);
  cursor: pointer;
  height: 150px;
  display: block;
}

.skills-ico img {
  margin-top: 14px;
  width: 120px;
  padding: 10px;
  transition: transform 0.5s;
}

.skills-ico img:hover {
  transform: scale(1.3);
}

/* ------------ Education---------- */
#education {
  border: 2px solid rgb(170, 167, 167);
  padding: 30px;
  border-radius: 8px;
  margin: 20px;
}

#education h2 {
  font-weight: 600;
  font-size: 18px;
}

.matric,
.inter {
  border-bottom: 2px solid gray;
  margin: 10px;
  margin-bottom: -4px;
  padding-bottom: 20px;
}

.ba {
  margin: 10px;
  margin-bottom: -4px;
  padding-bottom: 20px;
}

/* ----------------------Projects---------------- */

#projects {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin: 20px;
}
#projects img {
  width: 100%;
}



.card {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 10px;
  box-shadow: 0px 0px 3px 3px #928f8f;
  height: 400px;
  text-align: justify;
}
.card:hover{
  transform: scale(1.05);
  transition: transform 0.4s ease-out;
}
hr {
  margin-top: auto;
}
.view-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: auto;
}

.detail h1 {
  font-size: 1.2em;
}
.detail p {
  font-size: 1em;
}

/* ---------------Contact------------- */
#contact {
  margin-top: 100px;
}
.btn2 {
  display: block;
  margin: 50px auto;
  border: 1px solid #ff004f;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: rgb(245, 240, 240);
  background-color: #262626;
  transition: background 0.5s;
}
.btn2:hover {
  background: #ff004f;
}
.row {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact-left {
  flex-basis: 35%;
}
.contact-right {
  flex-basis: 60%;
}
.contact-left p {
  margin-top: 8px;
}
.contact-left p i {
  color: #ff004f;
  margin-right: 15px;
  font-size: 20px;
}
.contact-left a i {
  color: #ff004f;
  margin-right: 15px;
  font-size: 20px;
}
.social-icons {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
}
.social-icons a {
  text-decoration: none;
  font-size: 20px;
  margin-right: 12px;
  color: #abadab;
  display: inline-block;
  transition: transform 0.5s;
}
.social-icons a:hover {
  color: #ff004f;
  transform: translateY(-5px);
}
.btn.btn2 {
  display: inline-block;
  background: #ff004f;
}
.contact-right form {
  width: 100%;
}
form input,
form textarea {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}
form .btn2 {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}
.copyright {
  width: 100%;
  text-align: center;
  background-color: #262626;
  font-weight: 300;
  margin-top: 20px;
}
.copyright i {
  color: #ff004f;
}

.none-display {
  display: none;
}

/*------------Footer-----------*/
footer {
  text-align: center;
  background: gray;
}
